__pycache__

# distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config files
*config.json

# dependencies
DeepSpeed/
flash-attention/

# logs
*.log

.coverage_*
*~
slurm*
logs

# Data folder
bookcorpus_data/
